.login {
    margin: 80px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 0;
}
.loginitem {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .loginitem a{
        color:blue;
    }
    /*------------media query-----------*/
    @media (max-width:850px) {
        .login {
        flex-direction: column;
    }

    .loginitem {
        flex-basis: 100%;
        margin: 20px;
    }
}

@media (max-width:650px) {
    .login {
        flex-direction: column;
    }

    .loginitem {
        flex-basis: 100%;
        margin: 20px;
        flex-direction: column;
    }
}