.product {
    margin: 80px auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.categoryitem {
    margin: 2px auto;
    width: 80%;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content:space-between;
    background-color: lightblue;
}
 
.product img {
    width: 90%;
    border-radius: 10px;
    display: flex;
}
.product h1 {
    width: 90%;
    border-radius: 30px;
     
    background-color:lightblue;
    
}
 
 
/*------------media query-----------*/

@media (max-width:850px) {



    .categoryitem {
        flex-direction: column;
        margin: 20px;
        padding: 0px;
         
    }
    .product img {
        width: 70%;
        border-radius: 10px;
        display: block;
    }
     
}

@media (max-width:650px) {


    .categoryitem {
        flex-direction: column;
         
        margin: 20px;
        padding: 0px;
    }
    .product img {
        width: 50%;
        border-radius: 10px;
        display: block;
    }
     
}